@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Lato:wght@400;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  font-size: 1.8rem;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}
img {
  max-width: 100%;
}
p{
  max-width: 45ch;
}

.heading {
  font-family: "DM Serif Display", serif;
  font-size: 6.6rem;
  line-height: 6.8rem;
  letter-spacing: 0.2rem;
  padding-bottom: 2rem;
  color: #20202b;
}
.heading.secondary {
  font-size: 3.2rem;
  line-height: inherit;
  padding-bottom: .5rem;
}

.container {
  max-width: 87rem;
  margin: 0 auto;
  padding: 0 3rem;
}
.d-flex {
  display: flex;
  gap: var(--flex-spacer, 1rem);
}

.d-flex > * {
  flex-basis: 100%;
}

.pt-20 {
  padding-top: 2rem;
}
.px-5 {
  padding: 5rem 0;
}
.text-right {
  text-align: right;
}

.header-navigation {
  display: flex;
  justify-content: space-between;
}
.three-dot {
  cursor: pointer;
}
.three-dot span {
  display: flex;
  margin: 0.5rem 1rem;
  height: 0.2rem;
  width: 2.5rem;
  background-color: #131255;
}

.header {
  background: linear-gradient(180deg, #fef6b2 0%, #fffce3 100%);
}

.hero-area {
  padding: 5rem 0;
  --flex-spacer: 4rem;
}
.hero-pera {
  color: #2f2f2f;
}
.hero-area__content{
  margin-top: 3rem;
  margin-bottom: 5rem;
}
.hero-area .btn {
  background-color: #131255;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  margin-top: 5rem;
  padding: 1.2rem 3rem;
  border-radius: 0.6rem;
}

.section2 {
  --flex-spacer: 20rem;
}

.section2 .btn {
  display: inline-block;
  font-weight: 700;
  background-color: #fff493;
  padding: 1.2rem 3rem;
  margin-top: 3rem;
  border-radius: 0.6rem;
}
.footer {
  background-color: #2f2f2f;
  padding: 5rem 0;
  --flex-spacer: 3rem;
}
.footer__left h4 {
  color: #fff;
  font-size: 1.4rem;
  margin-top: 2.5rem;
  margin-bottom: 2rem;
  letter-spacing: 0.02rem;
}

.footer__left p {
  color: #fff;
  font-size: 1.4rem;
  max-width: 35ch;
  margin-bottom: 1rem;
  letter-spacing: 0.02rem;
}

.footer__left a {
  color: #fff493;
  text-decoration: none;
  font-size: 1.4rem;
  letter-spacing: 0.02rem;
}

.footer__right {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  align-items: flex-end;
}

@media (max-width:42em) {
  .cactus_img{
    display: none;
  }
  .hero-area{
    padding: 3rem 0;
    --flex-spacer: 0;
  }
  .hero-area .btn{
    margin-top: 3rem;
  }

  .d-flex{
    flex-direction: column;
  }
  .heading{
    font-size: 4.5rem;
    line-height: 5rem;
  }
  .section2{
    --flex-spacer: 3rem;
  }
  .text-right{
    text-align: left;
  }
  .keep_img{
    display: none;
  }
  .container > .px-5{
    padding: 2rem 0;
  }
  .footer__right{
    align-items: flex-start;
    gap: 1rem;
  }

}
